#spellPopup .heading {
    display: none;
}

#spellPopup .subheading {
    font-weight: bold;
    font-variant: small-caps;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#spellPopup .alignleft {
}

#spellPopup hr {
    display: none;
}

#spellPopup div {
    font-weight: normal;
    font-size: 12pt;
}