#spellPopup .heading {
    display: none;
}

#spellPopup .alignleft {
}

#spellPopup hr {
    display: none;
}

#spellPopup h1, #spellPopup h2, #spellPopup h3, #spellPopup h4, #spellPopup h5 {
    font-weight: normal;
    font-size: 12pt;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
    margin: 0;
}