.panel {
    position: absolute;
    width: 100%;
    display: none;
}

.book {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0.5cm;
    width: 4cm;
    font-size: 16pt;
    text-align: center;
    cursor: pointer;
}

.book img {
    width: 3cm;
    height: 3cm;
    margin-left: auto;
    margin-right: auto;
}

.back {
    background-color: grey;
    font-size: 16pt;
    cursor: pointer;
}

.back span {
    font-size: 24pt;
}

#bookPanelTitle {
    font-size: 24pt;
    text-align: center;
}

.button {
    border: 2px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 200px;
    white-space: nowrap;
    text-align: center;
    margin: 0.5cm auto;
    padding: 10px;
    cursor: pointer;
}

#detailsAccordion {
    width: 90%;
}

#detailsAccordion label {
    display: block;
}

#detailsAccordion div+h4 {
    margin-top: 0.5cm;
}