.panel {
    position: absolute;
    width: 100%;
    display: none;
}

.book {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0.5cm;
    width: 4cm;
    font-size: 16pt;
    text-align: center;
    cursor: pointer;
}

.book img {
    width: 3cm;
    height: 3cm;
    margin-left: auto;
    margin-right: auto;
}

.back {
    background-color: grey;
    font-size: 16pt;
    cursor: pointer;
}

.back span {
    font-size: 24pt;
}

#bookPanelTitle {
    font-size: 24pt;
    text-align: center;
}

.centre {
    text-align: center;
}

.centre > * {
    margin-left: auto;
    margin-right: auto;
}

.button {
    border: 2px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 200px;
    white-space: nowrap;
    text-align: center;
    margin: 0.5cm auto;
    padding: 10px;
    cursor: pointer;
}

#detailsAccordion, #spellListAccordion {
    width: 90%;
}

#detailsAccordion label {
    display: block;
}

.accordion div + h4, .accordion div + h3 {
    margin-top: 0.5cm !important;
}

.spellsPerDaySlotType {
    margin-left: 4em;
}

.spellsPerDay {
    margin-bottom: 3em;
}

.spellsPerDay table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.spellsPerDay td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.spellsPerDay td+td {
    border-left: 1px solid #999;
}

.spellsPerDay input {
    width: 4em;
}

.spell {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.spell .title {
    flex-grow: 1;
    text-align: left;
    padding-left: 0.5em;
}

.spell .view {
    flex-grow: 0;
    padding-right: 1em;
    cursor: pointer;
}

.spell input {
    flex-grow: 0;
    padding-right: 0.5em;
}

.spell + .spell {
    margin-top: 1px;
}

.spell .title {
}

.spell.abjuration {
    background-color: #99ff99;
}
.spell.conjuration {
    background-color: #ff9e55;
}
.spell.divination {
    background-color: #88aaff;
}
.spell.enchantment {
    background-color: #a5fdfb;
}
.spell.evocation {
    background-color: #ff7777;
}
.spell.illusion {
    background-color: #bf7bf3;
}
.spell.necromancy {
    background-color: #aaaaaa;
}
.spell.transmutation {
    background-color: #ffffaa;
}
.spell.universal {
    background-color: white;
}

.slotTable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}

.slotTable th, .slotTable td {
    border: 1px solid black;
    padding: 0 0.5em;
}