
body {
    background-color: #F1EDC2;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

.panel {
    position: absolute;
    width: 95%;
    display: none;
}

.book {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0.5cm;
    width: 4cm;
    font-size: 16pt;
    text-align: center;
    cursor: pointer;
    background: #eee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
}

.book img {
    width: 3cm;
    height: 3cm;
    margin-left: auto;
    margin-right: auto;
}

.back {
    background-color: #aaa;
    font-size: 16pt;
    cursor: pointer;
    width: 95%;
    height: 2em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 2.5%;
    z-index: 10;
}

.back + * {
    margin-top: 3em;
}

.back span {
    font-size: 24pt;
}

#bookPanelTitle {
    font-size: 24pt;
    text-align: center;
}

.centre {
    text-align: center;
}

.centre > * {
    margin-left: auto;
    margin-right: auto;
}

.button {
    border: 2px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 200px;
    white-space: nowrap;
    text-align: center;
    margin: 0.5cm auto;
    padding: 10px;
    cursor: pointer;
    background: #eee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
}

#detailsAccordion, #spellListAccordion, #preparedSpells {
    width: 90%;
}

#detailsAccordion label {
    display: block;
}

.ui-accordion h1,
.ui-accordion h2,
.ui-accordion h3,
.ui-accordion h4,
.ui-accordion h5 {
    overflow: hidden;
}

.ui-accordion div + h1,
.ui-accordion div + h2,
.ui-accordion div + h3,
.ui-accordion div + h4,
.ui-accordion div + h5 {
    margin-top: 0.5cm !important;
}

.spellsKnownLink {
    font-size: 70%;
    margin: 0 1em;
    float: right;
}

.spellsKnownLink:hover {
    text-decoration: underline;
}

.spellSlotsHeading {
    display: flex;
    justify-content: space-between;
    max-width: 25em;
    margin: 0 auto;
}

.spellSlots {
    margin-bottom: 3em;
}

.spellSlots .allSlots {
    clear: both;
}

.spellsPerDaySlot {
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.spellsPerDaySlot input {
    width: 4.5em;
}

.spell {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #777;
    display: flex;
    justify-content: space-between;
}

.spell .title {
    flex-grow: 1;
    text-align: left;
    padding-left: 0.5em;
    overflow-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
}

.spell .note {
    font-size: 80%;
}

.spell .view {
    flex-grow: 0;
    cursor: pointer;
    background: #eee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
}

.spell .view img {
    height: 1em;
    width: auto;
}

.spell input {
    flex-grow: 0;
    padding-right: 0.5em;
}

.spell + .spell {
    margin-top: 1mm;
}

.spell.used {
    opacity: 0.5;
    text-decoration: line-through;
}

.spell.abjuration {
    background-color: #99ff99;
}
.spell.conjuration {
    background-color: #ff9e55;
}
.spell.divination {
    background-color: #88aaff;
}
.spell.enchantment {
    background-color: #a5fdfb;
}
.spell.evocation {
    background-color: #ff7777;
}
.spell.illusion {
    background-color: #bf7bf3;
}
.spell.necromancy {
    background-color: #aaaaaa;
}
.spell.transmutation {
    background-color: #ffffaa;
}
.spell.universal {
    background-color: white;
}

.slotDiv {
    display: inline-block;
    border: 1px solid black;
    margin: -1em 0 0.5em 0;
    padding: 0 0.5em;
    text-align: center;
}

.prepareCategory {
    width: 42em;
    margin: 0 auto;
}

.prepareCategory > div {
    display: flex;
}

.prepareCategory > div > div {
    flex: 1;
    border: 1px solid black;
    padding: 0.5em;
}

.negativeSlots {
    color: red;
}

.droppableHighlight {
    border: 1px solid cyan !important;
}

.slotTable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}

.slotTable th, .slotTable td {
    border: 1px solid black;
    padding: 0 0.5em;
}

@media only screen and (max-width: 480px) {

    .book {
        width: 40vw;
        margin: 3vw;
    }

    .spell {
        width: 100%;
        max-width: 15em;
    }

    #prepareSpellsPanel .spell {
        width: 34vw;
        min-height: 3em;
    }

    #prepareSpellsPanel .spell .view img {
        margin-top: 0.75em;
    }

    .prepareCategory {
        width: 80vw;
    }

    #preparedSpells.ui-accordion .ui-accordion-content,
    #spellListAccordion.ui-accordion .ui-accordion-content {
        padding: 1em 0;
    }

}